# ignore rust build outputs anywhere in the project
**/target/

apps/*/data
apps/*/snippets
apps/scripts

apps/hotel/scripts
!apps/hotel/scripts/gen_config.json
!apps/hotel/scripts/docker/entrypoint.sh
!apps/hotel/scripts/local/config.docker.json
